@main()()("home") {

<ul>
	<li><a href="@routes.Validate.missingProducts">Missing from Releases</a></li>
	<li><a href="@routes.Validate.unmappedProducts">Unmapped Release Files</a></li>
	<li><a href="@routes.Validate.missingLanguages">Missing from Languages</a></li>
	<li><a href="@routes.Validate.unmappedLanguages">Unmapped Languages Files</a></li>
	<li><a href="@routes.Validate.releases">Releases Products and Version mappings</a></li>
	<li><a href="@routes.Validate.languages">Languages Products and Version mappings</a></li>
	<li><a href="@routes.Validate.servicepacks">Missing from Service Packs</a></li>
</ul>

}